html, body{ font-family: 'Arial'; }

h1{ font-size: 25px; font-weight: 500; }


.clearfix{
  zoom: 1;
  overflow: hidden;
}

.page{
  width: 1000px;
  margin: 10px auto;
}

h1.title{
  width: 1000px;
  margin: 40px auto;
  color: #888;
}

.featured{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  color: #fff;
  
  &:after{
    content: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png');      
  }
}