#home-body{
  
  .jobs-container{
    width: 70%;
    float: left;
  }

  aside{
    h1{
      font-size: 20px;
    }

    width: 30%;
    margin-bottom: 10px;
    float: right;

    ul{
      list-style-type: none;

      li{ margin: 4px 0; }
    }
  }
}
