#job-body{
  h1.title-job{
    position: relative;
  }

  .job-container{
    dl{
      width: 100%;
      border: 0px;
      padding-bottom: 20px;

      dt, dd{
        line-height: 30px;
        float: left;
      }

      dt{ width: 30%; }

      dd{ width: 70%; }
    }
  }
}

#job-new{
  .row{
    width: 100%;
    float: left;
    line-height: 30px;
  }

  form{
    margin-top: 30px;
  }

  label{
    float: left;
    width: 200px;
  }

  input[type=text], textarea{
    float: left;
    width: 300px; 
  }

  textarea{
    height: 50px;
  }

  .buttons{
    width: 100%;
    padding-top: 40px;

    a, input{ 
      float: left;
      margin-right: 10px;
      padding: 2.5px 10px;
    }
  }
}