<div class="job-container">
  <% if job.featured %>
    <div class="featured">
      <strong>Destaque</strong>
    </div>
  <% end %>
  
  <h1><%= link_to job.title, job %></h1>

  <p><%= job.category %></p>
  <p><%= job.company.name %></p>
  <p><%= job.location %></p>
</div>