<div id="form-body" class="page">  
  <h2>Nova Vaga</h2>
  <hr>

  <% if flash[:notice] %>
    <div class="message">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= render partial: 'form', locals: { 
    submit_text: 'Criar Vaga' 
  } %>
</div>
