<div id="home-body" class="page">

  <%= render @jobs %>
  
  <aside>
    <h1>Empresas</h1>
    
    <ul>
      <% @companies.each do |c| %>
      <li><%= link_to c.name, c %></li>
      <% end %>
    </ul>
  </aside>
</div>


