<div id="home-body" class="page">
  <h1 class="title">Emprego Já</h1>

  <% @jobs.each do |job| %>
    <div class="job-container">
      <% if job.featured %>
        <strong>Destaque</strong>
      <% end %>
      
      <h1><%= link_to job.title, job %></h1>

      <p><%= job.company %></p>
      <p><%= job.location %></p>

    </div>
  <% end %>
</div>